.mainContainer
  display: flex
  flex-direction: column
  min-height: 100vh

  .contentContainer
    display: flex
    flex: 1

    .workspaceViewContainer
      display: flex
      flex: 1

      .leftPanelWrapper
        flex-basis: 15%

      .chatWrapper
        flex: 1

      .rightPanelWrapper
        flex-basis: 20%
        border-left: 1px solid var(--border-lightbrown)
