.mainContainer
  display: flex
  flex-direction: column
  min-height: 100vh

  .contentContainer
    display: flex
    flex: 1

    .workspaceViewContainer
      display: flex
      flex: 1

      .LeftPanelWrapper
        flex-basis: 15%

      .ChatWrapper
        flex: 1

      .RightPanelWrapper
        flex-basis: 20%
