.optionsSelect
  font-weight: 500
  font-size: 14px
  background: none
  display: flex
  flex-direction: row
  align-items: center
  border: 0
  padding: 5px 24px
  align-content: left
  outline: none
  width: 100%
  &:hover
    background-color: var(--workspace-background-color)
    color: var(--text-color-for-dark-bg)
