# IDE settings
.vscode/
.idea/
.vs/
bin/
obj/


# dependencies
package-lock.json
node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/frontend/build

# misc
.DS_Store
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
