.resetPassword
  width: 350px
  height: 285px
  display: flex
  justify-content: space-between
  flex-direction: column
  position: relative

.header
  font-weight: 900
  text-align: left

.formFooter
  display: flex
  justify-content: flex-start
  align-items: center

  .primaryBtn:global(.btn-primary)
    width: 145px
    height: 50px
    background-color: var(--auth-scene-btn-background)
    border-color: var(--auth-scene-btn-background)

    &:hover, &:active,
      background-color: var(--auth-scene-btn-background)
      border-color: var(--auth-scene-btn-background)

.inputContainer
  width: 100%
  min-height: 39px
  position: absolute
  &:first-child
    top: 50px
  &:nth-child(2)
    top: 140px
