\:root
  --user-detector-online: #6a986c
  --user-detector-offline: grey
  --user-detector-border: #edf1ed
  --auth-form-background: #E9ECEF
  --workspace-background-color: #EC634C

  --workspace-icon-background: #6a986c
  --workspace-toolbar-background: #2D2D2D
  --workspace-toolbar-select-background: #EFEDE1
  --workspace-toolbar-select-background-second: #DEDCD0
  --workspace-toolbar-font-color-primary: #EFEDE1
  --workspace-toolbar-font-color-secondary: #2D2D2D
  --workspace-toolbar-select-border-color: #EC634C
  --workspace-toolbar-font-color: rgb(29, 28, 29)
  --workspace-toolbar-font-color-second: #555

  --cancel-btn-bg: #6c757d
  --cancel-btn-bg-hover: #5A6269
  --save-button-bg: #6A986C
  --save-button-bg-hover: #577c5a
  --danger-button-bg: #EC634C
  --danger-button-bg-hover: #cd5641

  --title-text: black
  --main-text: #2D2D2D
  --secondary-text: #8a8888

  --text-editor-border: #2d2d2d25

  --border: #EFEDE1
  --header-user-logo-border: #EC634C
  --sidemenu-button-border: #EC634C

  --icon: #2D2D2D
  --icon-hover: #EC634C
  --icon-hover-background: #EFEDE1
  --icon-active: #6A986C

  --member-avatar-box-shadow: white

  --links: #55c1ff

  --toolbar-bgc: #2D2D2D

  --offline: #7B7B7B
  --left-bar: #F7F6F1
  --chat-background-secondary: #EFEDE1
  --chat-background-primary:  #F7F6F1
  --post-hover:  #efede14f

  --auth-scene-left-side-backround: #EC634C
  --auth-scene-right-side-backround: #F7F6F1
  --auth-scene-btn-background: #6A986C
  --auth-scene-link-color: #EC634C
  --auth-scene-text-primary-color: #2D2D2D
  --auth-scene-text-secondary-color: #7B7B7B
  --border-lightbrown: #8b824c

  --text-grey: grey

  --not-found-background: #EC634C
  --not-found-text: #F7F6F1

  --del-btn-background: red
  --del-btn-text: white

  --close-button: #858585
  --close-button-hover: #2D2D2D

  --header-user-name: #3a3a3a

  --scrollbar: #898989

  --presence-online: #6A986C
  --presence-offline: #EC634C

  --text-color-for-dark-bg: #ffffff
  --white-bg: #ffffff

  --show-more-replies-link: #EC634C

  --post-bg: #EFEDE1
  --post-emoji-bg: #EFEDE1
  --post-emoji-bg-hover: #e3e1d6
  --post-active-emoji-bg: #6A986C
  --post-active-emoji-border: #6A986C

  --page-not-found-bg: #E5E5E5

  --invite-user-bg-hover: #EC634C
  --invite-user-text-hover: white

  --selected-user-bg: #a2dbf3

  --crop-bg: #E2E2E2

  --invite-to-workspace-button: #6A986C
  --invite-to-workspace-button-hover: #5d855f

  --make-private-channel-switch: #5d855f

  --options-border: #26262633
  --remove-photo: #F85D5D

  --browser-channel-border: #ced4dace
  --browser-channel-joined: #6A986C
  --browser-channel-primary-button: #6A986C
  --browser-channel-primary-button-hover: #577c5a
  --browser-channel-primary-button-disabled: #6a986ca2
  --browser-channel-secondary-button: white
  --browser-channel-secondary-button-hover: #ffffff81
  --option-bg-hover: #EC634C
  --option-text-hover: white

  --close-button-dark-bg: #d8d8d8
  --join-whale-btn: #EC634C
  --join-whale-btn-text: antiquewhite
  --whale-post-border: #A6A6A3
  --whale-post-bg: #ffffff

  --link-text-color: #5d855f

  --modal-button-background: #6A986C
  --modal-button-background-hover: #597e5b
  --modal-input-border: #6A986C
  --modal-window-background: #F7F6F1
  --modal-active-text: #6A986C
  --modal-emoji-hover: #EFEDE1

  --grey-bg: #555
  --options-box-shadow-x: rgba(29, 28, 29, 0.1)
  --options-box-shadow-y:rgba(0, 0, 0, .05)


  --btn-create-custom-reminder: #EC634C

  --primary: #EC634C
  --input-border: #ced4da

  --posts-devider-date: #9597A1

  --auth-hover: #e1dfd3
  --back-btn-hover: #6C757E
  --back-btn-border: #999fa5

  --post-emoji-border: #fc9a88
