\:root
  --user-detector-online: #5cfc00
  --user-detector-offline: grey
  --user-detector-border: #5c352e
  --auth-form-background: #E9ECEF
  --workspace-background-color: #F7B61A

  --main-text: black
  --secondary-text: #8a8888

  --border: #e2e2e2

  --header-user-logo-border: #EC634C

  --icon: #8a8888
  --icon-hover: #5c5b5b
  --icon-hover-background: #e2e2e2
  --icon-active: #2aad75

  --member-avatar-box-shadow: white

  --chat-background-secondary: #EFEDE1
  --chat-background-primary:  #F7F6F1

  --auth-scene-left-side-backround: #EC634C
  --auth-scene-right-side-backround: #F7F6F1
  --auth-scene-btn-background: #6A986C
  --auth-scene-link-color: #EC634C
  --auth-scene-text-primary-color: #2D2D2D
  --auth-scene-text-secondary-color: #7B7B7B

  --not-found-background: #EC634C
  --not-found-text: #F7F6F1

  --del-btn-background: red
  --del-btn-text: white
