\:root
  --user-detector-online: #5cfc00
  --user-detector-offline: grey
  --user-detector-border: #5c352e
  --auth-form-background: #E9ECEF
  --workspace-background-color: #EC634C

  --workspace-icon-background: #6a986c
  --workspace-toolbar-background: #2D2D2D
  --workspace-toolbar-select-background: #EFEDE1
  --workspace-toolbar-font-color-primary: #EFEDE1
  --workspace-toolbar-font-color-secondary: #2D2D2D
  --workspace-toolbar-select-border-color: #EC634C

  --title-text: black
  --main-text: #2D2D2D
  --secondary-text: #8a8888

  --border: #e2e2e2
  --header-user-logo-border: #EC634C
  --sidemenu-button-border: #EC634C

  --icon: #8a8888
  --icon-hover: #5c5b5b
  --icon-hover-background: #e2e2e2
  --icon-active: #6A986C

  --member-avatar-box-shadow: white

  --links: #55c1ff

  --toolbar-bgc: #2D2D2D

  --offline: #7B7B7B
  --left-bar: #F7F6F1
  --chat-background-secondary: #EFEDE1
  --chat-background-primary:  #F7F6F1

  --auth-scene-left-side-backround: #EC634C
  --auth-scene-right-side-backround: #F7F6F1
  --auth-scene-btn-background: #6A986C
  --auth-scene-link-color: #EC634C
  --auth-scene-text-primary-color: #2D2D2D
  --auth-scene-text-secondary-color: #7B7B7B
  --border-lightbrown: #8b824c

  --text-grey: grey

  --not-found-background: #EC634C
  --not-found-text: #F7F6F1

  --del-btn-background: red
  --del-btn-text: white

  --close-button: #858585

  --scrollbar: #898989

  --presence-online: #6A986C
  --presence-ofline: #F85D5D

  --text-color-for-dark-bg: #ffffff
  --show-more-replies-link: #EC634C

  --page-not-found-bg: #E5E5E5
 
