@import ./colors

.full-screen
  width: 100%
  height: 100%

.noselect
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

body
  font-family: 'Raleway', sans-serif

  .tox-toolbar__group:last-child
    margin-left: auto
    border-left: none

    .tox-tbtn
      flex-direction: row-reverse
