@import "react-redux-toastr/src/styles/index"
@import ./colors
@import ./reset
@import ./fonts

.full-screen
  width: 100%
  height: 100%

.noselect
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

body
  font-family: 'Raleway', sans-serif

.button-unstyled
  background: none
  border: 0
  color: inherit
  font: inherit
  margin: 0
  line-height: inherit
  overflow: initial
  padding: 0
  text-align: initial
  vertical-align: initial
  cursor: pointer

// Text editor styles

.tox .tox-toolbar__group:last-child
  margin-left: auto

  .tox-tbtn
    flex-direction: row-reverse

.tox .tox-tbtn
  &:hover
    background-color: var(--chat-background-primary) !important

.tox-tinymce
  border: 1px solid var(--text-editor-border) !important
  border-radius: 4px !important

.tox .tox-edit-area__iframe
  background-color: var(--chat-background-primary) !important

.tox .tox-toolbar__primary
  background-color: var(--chat-background-secondary) !important

// bootstrap modal windows

.modal-content
  background-color: var(--chat-background-primary)

.modal-body
  h4
    font-size: 18px
    font-weight: 600
    letter-spacing: .1px

.form-control
  &:focus
    border-color: var(--auth-scene-btn-background)
    box-shadow: 0 0 0 0.05rem var(--auth-scene-btn-background)

small
  font-size: 12px

.blueToastrNotification
  background-color: #5aa2fa !important
  &:hover
    cursor: pointer !important
