$colorText: var(--title-text)

@mixin unSelectable
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

.headerContainer
  width: 100%
  padding: 5px
  padding-left: 15px
  padding-right: 15px
  color: black
  height: 91px
  min-height: 91px
  display: flex
  align-items: center
  justify-content: space-between

.rightAlignContainer
  display: flex
  width: 44%
  justify-content: space-between
  padding-right: 70px
  align-items: center

.userLogoWrapper
  display: flex
  align-items: center
  justify-content: space-between
  margin-left: 20px

.popUpWrapper
  position: relative
  display: flex
  cursor: pointer
  outline: none

.profileText
  margin-left: 15px
  margin-right: 10px
  font-size: 16px
  font-weight: 500

.logoWrapper
  display: flex
  @include unSelectable
  &:hover
    text-decoration: none
    color: $colorText
    cursor: pointer
  &:visited
    color: $colorText

.logoImg
  height: 50px
  width: 50px

.logoText
  font-weight: 600
  font-size: 25px
  margin: auto 10px

.searchInput
  width: 400px

  input
    background-color: var(--chat-background-primary)
    padding-left: 40px
    border-radius: 20px
    border: none
