.headerContainer
  background-color: rgb(118, 68, 184)
  width: 100%
  padding: 10px
  padding-left: 15px
  padding-right: 15px
  color: white

  display: flex
  align-items: center
  justify-content: space-between


.popUpWrapper
  position: relative
  width: 30px
  height: 30px
  cursor: pointer
  border-radius: 50%

  &:focus
    outline: none


.mainLogo
  font-weight: bolder
  cursor: pointer
  box-shadow: 1px
  font-size: 1.5em
  text-shadow: 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, 0.5px 0.5px black, -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black

.searchInput
  width: 50%
