.forgotPassword
  width: 350px

.header
  margin-bottom: 30px
  font-weight: 900
  text-align: left

.formFooter
  display: flex
  justify-content: flex-start
  align-items: center

  .primaryBtn:global(.btn-primary)
    width: 145px
    height: 50px
    background-color: var(--auth-scene-btn-background)
    border-color: var(--auth-scene-btn-background)

    &:hover, &:active,
      background-color: var(--auth-scene-btn-background)
      border-color: var(--auth-scene-btn-background)

.linkWrapper
  margin-left: auto

  span
    font-size: 13px
    color: var(--auth-scene-text-secondary-color)

  .signInLink
    color: var(--auth-scene-link-color)
    font-family: var(--secondary-font-family), sans-serif
    font-size: 13px
    font-weight: 500
