.forgotPassword
  width: 350px

.header
  margin-bottom: 30px
  font-weight: 900
  text-align: left

.formFooter
  display: flex
  justify-content: flex-start
  align-items: center

.primaryBtn
  width: 145px
  height: 50px
  background-color: var(--auth-scene-btn-background)
  border-color: var(--auth-scene-btn-background)

  &:hover
    background-color: var(--auth-scene-btn-background)
    border-color: var(--auth-scene-btn-background)
