.arrowIcon
  transform: rotate(45deg)
  color: #ffffff
  font-size: 30px
  transition: all .3s

.arrowButton
  width: 40px
  height: 38px
  cursor: pointer
  margin: 0 5px 0 5px
  display: flex
  justify-content: center
  align-items: center
  outline: none
  background-color: transparent