.signInHeader
  min-height: 66px
  margin-bottom: 40px

.signIn
  width: 370px
  min-height: 350px

.signUpLink
  color: var(--auth-scene-text-secondary-color)
  font-family: var(--secondary-font-family), sans-serif
  font-size: 13px
  font-weight: 500
  line-height: 16px

.header
  font-weight: 900
  text-align: left
  font-size: 34px
  line-height: 44px
  margin-bottom: 6px

.workspace
  word-wrap: break-word

.logInSuggestion
  font-size: 12px !important
  line-height: 16px

.authLink
  color: var(--auth-scene-link-color)

.primaryBtn
  max-width: 146px
  min-width: 146px

.forgotPasswordLink
  font-size: 11px
  line-height: 16px
  margin-bottom: 5px
  color: var(--auth-scene-link-color)
  align-self: center

.formFooter
  margin-top: 15px
  display: flex
  justify-content: flex-start
  align-items: center

  .primaryBtn:global(.btn-primary)
    width: 145px
    height: 50px

.socialSignInWrapper
  width: 100%
  padding-left: 17px
  display: flex
  justify-content: space-between
  flex-wrap: nowrap
  align-items: center

  span
    font-size: 13px
    color: var(--auth-scene-text-secondary-color)

.roundButtonsContainer
  width: 101px
  display: flex
  justify-content: space-between

.socialSignIn
  width: 48px
  height: 48px
  border-radius: 50%
  background-color: var(--chat-background-secondary)
  border: none
  cursor: pointer
  transition: all .3s

  &:active, &:focus
    outline: none
    border: none
  
  &:hover
    background-color: var(--auth-hover)
