.profileOverview
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  align-items: center
  overflow-y: auto
  background-color: var(--chat-background-secondary)
  color: var(--main-text)
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  &::-webkit-scrollbar
    display: none;  /* Safari and Chrome */

  &::-webkit-scrollbar
    width: 8px

  &::-webkit-scrollbar-thumb
    background: var(--scrollbar)
    border-radius: 5px

  button:active,
  button:focus
    outline: none

  .header
    width: 100%
    display: flex
    justify-content: flex-end
    padding: 20px 20px 20px 0

    .closeBtn
      font-size: 20px
      cursor: pointer
      opacity: 0.4

      &:hover
        opacity: 1

  .avatar
    overflow: hidden
    max-width: 200px
    flex-shrink: 0
    margin-bottom: 20px

    img
      width: 100%

  .nameWrp
    margin-bottom: 7px
    position: relative

    i
      position: absolute
      top: 50%
      left: -22px
      transform: translateY(-50%)
      height: 9px
      width: 9px
      border-radius: 50%

      &.online
        background-color: var(--presence-online)

      &.offline
        background-color: var(--presence-offline)

    .fullName
      font-size: 20px
      font-weight: 600
      line-height: 23px
      color: var(--title-text)
  .titleAndStatusContainer
    padding: 0 16px
    text-align: center
    .title
      font-size: 16px
      line-height: 21px
      margin-bottom: 7px

    .status
      font-size: 14px
      line-height: 18px
      margin-bottom: 7px
      color: var(--secondary-text)

  .inputWrp
    padding: 15px 15px 22px

    input
      color: var(--main-text)

    button
      font-size: 22px
      height: 100%
      padding: 0 10px
      color: var(--offline)
      &:hover
        color: var(--icon)

  .toolbarOneItem
    justify-content: center !important

  .toolbar
    display: flex
    padding: 20px 0
    width: 240px
    justify-content: space-between

    button
      display: flex
      align-items: center
      justify-content: center
      flex-direction: column
      width: 75px
      &:nth-child(2)
        margin-left: 5px
      &:hover
        color: var(--icon-hover)

      &:hover .circleIconsContainer
        color: var(--icon-hover)

      .circleIconsContainer
        display: flex
        justify-content: center
        align-items: center
        color: var(--icon)
        width: 38px
        height: 38px
        border: 1px solid var(--sidemenu-button-border)
        border-radius: 50%

      a.circleIconsContainer

        &:hover
          color: var(--icon-hover) !important
          text-decoration: none

      .buttonsText
        text-align: center
        margin-top: 10px
        font-size: 13px

  .aboutBtn
    display: flex
    align-items: center
    margin: 15px 0

    div
      margin-right: 10px

    &:hover
      color: var(--title-text)

  .aboutItem
    width: 100%
    padding: 0 15px
    margin-bottom: 20px

    .email
      color: var(--join-whale-btn)

    .label
      color: var(--secondary-text)
      font-size: 12px
      margin-bottom: 7px

    a
      color: var(--main-text)

.popOverWindow
  z-index: 102
  box-shadow: 0 0 0 1px rgba(29, 28, 29, 0.1),0 0px 12px 0 rgba(0,0,0,.05)
  border-radius: 6px
  background-color: var(--workspace-toolbar-background)
  color: var(--text-color-for-dark-bg)
  border: none
  padding: 6px 12px
  font-size: 14px
  line-height: 1.35
  font-weight: 500
  text-align: center
  max-width: 160px
