$color: var(--workspace-toolbar-select-background)
$colorText: var(--title-text)
$coloractive: #CECCC0

.leftToolbar
  padding-top: 15px
  top: 0px
  left: 10px
  height: 100%
  background-color: $color
  overflow-y: auto

.channelSelect
  display: flex
  flex-direction: row
  align-items: center
  border: 0
  padding: 8px
  padding-left: 23px
  margin-top: 5px
  align-content: left
  outline: none
  width: 100%
  color: $colorText
  cursor: pointer

.channelCurrent
  background-color: $coloractive

.iconBorder
  display: flex;
  justify-content: center
  align-items: center
  width: 30px
  height: 30px
  margin-left: -8px
  border: 1px solid red
  border-radius: 15px

.buttonText
  margin-left: 10px

.metkaOnLine
  position: relative
  float: left
  width: 10px
  height: 10px
  border-radius: 5px
  background-color: rgb(43, 230, 83)
  margin-top: 2px
  margin-left: 3px

.metkaOfLine
  position: relative
  float: left
  width: 10px
  height: 10px
  border-radius: 5px
  border: 2px solid gray
  margin-top: 2px
  margin-left: 3px

.channelSelect:hover
  color: $colorText
  background-color: $coloractive

.channelSelect:active
  color: $colorText
  background-color: $coloractive

.hrr
  margin-top: 10px
  height: 2px
  background-color: $coloractive

.buttonChanel
  display: flex
  flex-direction: row
  align-items: center
  border: 0
  padding: 0
  align-content: left
  outline: none
  width: 100%
  color: $colorText

.buttonSelect
  display: flex
  flex-direction: row
  justify-content: flex-start
  align-items: center
  padding: 5px
  padding-left: 25px
  border: 0
  outline: none
  width: 100%
  color: $colorText
  background-color: $color

.chanelsImg
  width: 22px
  height: 22px
  transition-property: transform
  transition-duration: 1000ms
  transform: rotate(90deg)
  color: var(--workspace-icon-background)

.chanelsImgRotate
  width: 22px
  height: 22px
  transition-property: transform
  transition-duration: 1000ms
  transform: none
  color: var(--workspace-icon-background)

.buttonSelect:hover
  background-color: #CECCC0

.buttonSelect:focus
  outline: none
  font-weight: bold

.listBox
  overflow: hidden
  height: auto

.listBoxHidden
  overflow: hidden
  height: 0
