.modalFooter
  display: flex
  align-items: center
  justify-content: space-between

  .inviteLinkBlock
    cursor: pointer

    .copyLinkIcon
      margin-right: 10px

.inviteButton
  font-size: 14px
  font-weight: 500
  border: none
  background-color: var(--invite-to-workspace-button)

  &:hover
    background-color: var(--invite-to-workspace-button-hover)
