.buttonRecord
  background-color: var(--icon-active)
  border-color: var(--icon-active)
  margin-right: 20px
  width: 65px
  &:hover, &:active,
    background-color: var(--link-text-color)
    border-color: var(--link-text-color)

.buttonDisabled
  &:hover
    text-decoration: none

.progressBar
  width: 67px
  height: 5px
  margin-top: 3px
  margin-left: 14px
  border: 1px solid var(--auth-scene-text-secondary-color)

.description
  margin: 2px 0 0 14px
  width: 100%
  font-size: 13px
  color: var(--auth-scene-text-secondary-color)
