.buttonRecord
  background-color: var(--icon-active)
  border-color: var(--icon-active)
  margin-right: 20px
  &:hover, &:active,
    background-color: var(--link-text-color)
    border-color: var(--link-text-color)

.buttonDisabled
  &:hover
    text-decoration: none
