.header
  padding: 0 1rem

.formBody
  padding: 0 1rem

.footer
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: flex-end
  padding: .75rem

.inputLabel
  font-weight: 600

  span
    font-weight: 400

.makePrivateLabel
  display: flex
  justify-content: space-between
  align-items: center

.makePrivateDescription
  width: 75%
