.postWrapper
  color: var(--main)

.postWrapper:hover
	background: var(--post-bg)

.body
  overflow: hidden
  padding: 5px

.author
  display: inline-block
  font-size: 1rem
  color: var(--title-text)
  font-weight: 900

.metadata
  display: inline-block
  font-weight: 400
  color: var(--secondary-text)
  color: rgb(29, 28, 29)
  font-size: .75rem
  font-family: var(--secondary-font-family), sans-serif

.text
  text-align: left
  margin-bottom: 10px

.emojiStats
  display: flex
  flex-wrap: wrap

.emojiStatItem
  margin-right: 5px
  margin-bottom: 5px
  padding: 2px 4px
  border: 1px solid transparent
  cursor: pointer
  background-color: var(--post-emoji-bg)
  border-radius: 20px

.emojiStatItem:hover
  border: 1px solid var(--border)
  border-radius: 20px
  background-color: var(--post-emoji-bg-hover)

.emoji
  margin-right: 3px
  font-size: 14px

.reactBtn, .replyBtn
  font-size: 12px
  line-height: 14px
  margin-right: 18px
  margin-bottom: 18px

.reactBtn:hover, .replyBtn:hover
  margin: 15px 0
  overflow-wrap: break-word

.footer
  display: flex

.openThreadBtn
  cursor: pointer
  font-size: 13px
  text-decoration: underline
