$color: var(--workspace-toolbar-select-background)

.postWrapper
  padding: 5px
  background: $color
  border-radius: 15px
  margin-bottom: 5px

.postWrapper:hover
	background: #fafafa

.body
  overflow: hidden
  padding: 5px

.author
  display: inline-block
  font-size: 1rem
  color: rgb(29, 28, 29)
  font-weight: 900
  margin: 5px 0

.status
  display: inline-block
  font-size: 16px
  color: "#555"
  margin-bottom: 5px

.author:hover
  color: rgb(29, 28, 29)

.metadata
  display: inline-block
  font-weight: 400
  color: rgb(29, 28, 29)
  font-size: .75rem
  font-family: var(--secondary-font-family), sans-serif

.metadata:hover
  color: rgb(29, 28, 29)

.text
  text-align: left
  margin: 15px 0
  overflow-wrap: break-word

.footer
  display: flex

.footerKey  
  font-size: 0.9rem
  font-weight: 900
  color: var(--workspace-icon-background)

.footerData
  font-size: 0.85rem

.openThreadBtn
  cursor: pointer
  font-size: 13px
  text-decoration: underline
  color: "#555"
  margin-right: 5px

.commentWrapper
  display: flex;
  justify-content: flex-start
  align-items: center
  margin-top: 10px

.commentImage
  width: 32px
  height: 32px
  border-radius: 16px
  overflow: hidden;

.commentUser
  margin: 10px
  font-size: 0.9rem
  color: rgb(29, 28, 29)
  font-weight: 700
  