.workspaceToolbarContainer
  width: 100px
  background-color: var(--workspace-toolbar-background)
  display: flex
  flex-direction: column
  align-items: center
  justify-content: flex-start

.plusIconContainer
  width: 50px
  height: 50px
  margin: 3px
  margin-top: 10px
  padding: 5px
  cursor: pointer
  display: flex
  justify-content: center
  align-items: center
  border-radius: 10px
  transition: all .3s
  border-radius: 50%
  &:hover
    background-color: var(--text-color-for-dark-bg)
  &:hover .plusIcon
    color: var(--workspace-background-color)

.plusIcon
  color: var(--text-color-for-dark-bg)
  transition: all .3s
