body {
  padding: 0;
}

.leftToolbar {
  position: fixed;
  margin: -10px;
  top: 50px; /* Отступ дял Headera */
  left: 10px;
  height: 100%;
  width: 270px;
  background-color: rgb(67, 6, 82);
}

.topbutton {
  border: 0;
  outline: none;
  margin-top: 10px;
  width: 100%;
  color: white;
  background-color: rgb(67, 6, 82);
}

.topbutton:hover {
  background-color: rgb(67, 6, 82);
}

.topbutton:active, .topbutton:focus {
  outline: none;
  background-color: rgb(75, 47, 201);
}

.toplefttext {
  position: relative;
  float: left;
  text-align: left;
  margin-left: 2%;
  width: 80%;
}

.capletter {
  font-size: 22px;
  font-weight: bold;
  color: #ece09d;
}

.toplogo {
  font-size: 18px;
  color: white;
}

.metka {
  position: relative;
  float: left;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: rgb(43, 230, 83);
  margin-top: 3px;
  margin-right: 6px;
}

.topiconbox {
  position: relative;
  float: right;
  width: 44px;
  height: 44px;
  padding-top: 10px;
  padding-left: 5px;
  border-radius: 22px;
  border: 2px solid black;
  color: black;
  background-color: white;
}

.topinfo {
  position: absolute;
  padding: 5px;
  left: 150px;
  top: 60px;
  width: 150px;
  color: white;
  background: #495474;
  border-radius: 5px;
  font-size: 18px;
  transition: opacity 500ms;
  opacity: 0;
  z-index: 3;
}

.topiconbox:hover ~ .topinfo {
  opacity: 1;
}

hr {
  margin-top: 10px;
  height: 2px;
  background-color: rgb(98, 16, 119);
}

.topicon {
  width: 30px;
  height: 30px;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0;
  padding: 5px;
  padding-left: 25px;
  align-content: left;
  outline: none;
  width: 100%;
  color: white;
  background-color: rgb(67, 6, 82);
}

.button:hover {
  background-color: rgb(120, 21, 145);
}

.button:active, .button:focus {
  outline: none;
  background-color: rgb(75, 47, 201);
}

.buttontext {
  margin-left: 10px;
}

.buttonChanel {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0;
  padding: 0;
  align-content: left;
  outline: none;
  width: 100%;
  color: white;
  background-color: rgb(67, 6, 82);
}

.buttonChanel:active, .buttonChanel:focus {
  outline: none;
  font-weight: bold;
}

.buttonSelect {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  padding-left: 25px;
  border: 0;
  outline: none;
  width: 85%;
  color: white;
  background-color: rgb(67, 6, 82);
}

.buttonSelect:hover {
  background-color: rgb(120, 21, 145);
}

.buttonSelect:active, .buttonSelect:focus {
  outline: none;
  font-weight: bold;
}

.chanelsImg {
  width: 22px;
  height: 22px;
  transition-property: transform;
  transition-duration: 1000ms;
  transform: none;
}

.chanelsImgRotate {
  width: 22px;
  height: 22px;
  transition-property: transform;
  transition-duration: 1000ms;
  transform: rotate(-90deg);
}

.buttonPlus {
  width: 30px;
  padding: 6px;
}

.buttonPlus:hover {
  background-color: rgb(120, 21, 145);
}

.chanelinfo {
  position: absolute;
  padding: 5px;
  left: 150px;
  top: 260px;
  width: 150px;
  color: white;
  background: #495474;
  border-radius: 5px;
  font-size: 18px;
  transition: opacity 500ms;
  opacity: 0;
  z-index: 3;
}

.buttonPlus:hover ~ .chanelinfo {
  opacity: 1;
}

.metkaOnLine {
  position: relative;
  float: left;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: rgb(43, 230, 83);
  margin-top: 3px;
  margin-left: 7px;
}
  
.metkaOfLine {
  position: relative;
  float: left;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  border: 2px solid gray;
  margin-top: 3px;
  margin-left: 7px;
}

.directinfo {
  position: absolute;
  padding: 5px;
  left: 150px;
  top: 450px;
  width: 150px;
  color: white;
  background: #495474;
  border-radius: 5px;
  font-size: 18px;
  transition: opacity 500ms;
  opacity: 0;
  z-index: 3;
}

.buttonPlus:hover ~ .directinfo {
  opacity: 1;
}

@keyframes listShow {
    0%  { height: 0 }
  100%  { height: 100px }
}

@keyframes listHide {
  0%  { height: 100px }
100%  { height: 0 }
}

.listbox {
  overflow: hidden;
  height: auto;
  animation: listShow 1s linear;
}

.listboxHidden {
  overflow: hidden;
  height: 0;
  animation: listHide 1s linear;
}

.listboxDeff {
  overflow: hidden;
  height: auto;
}

.listboxHiddenDeff {
  overflow: hidden;
  height: 0;
}
