.userLogo
  object-fit: cover
  width: 30px
  height: 30px

.userLogoWrapper
  position: relative

.detector
  width: 8px
  height: 8px
  border-radius: 50%

  position: absolute
  bottom: 3px
  right: 3px
  border: 1px solid black

.isOnline
  composes: detector
  background-color: greenyellow

.isOffline
  composes: detector
  background-color: grey

