.messageBody
  display: flex
  flex-direction: column
  align-items: space-around
  padding: 0 50px
  line-height: 1.35

  h3
    text-align: center
    font-size: 1.5em
    font-weight: bold
    margin-bottom: 10px

  .paraghBold
    margin-top: 10px
    line-height: 1.35
    text-emphasis: em
