.ChannelBrowser
  background-color: var(--chat-background-primary)
  height: calc(100vh - 62px)

.header
  display: flex
  justify-content: space-between
  align-items: center
  padding: 13px 20px
  height: 63px
  border-bottom: 1px solid var(--browser-channel-border)

.header h1
  color: var(--title-text)
  font-weight: 600

.main
  padding: 15px 20px
  display: flex
  flex-direction: column
  flex: 1 1
  height: calc(100vh - 104px)

.search
  margin-bottom: 25px

.searchPrepend
  display: flex
  justify-content: center
  align-items: center
  padding: 0 10px
  border: 1px solid var(--browser-channel-border)
  border-top-left-radius: 0.25rem
  border-bottom-left-radius: 0.25rem

.controlsWrp
  display: flex
  justify-content: space-between
  align-items: center
  padding-bottom: 10px
  border-bottom: 1px solid var(--browser-channel-border)
  font-size: 15px
  font-weight: 500

.controlsWrp svg
  margin-right: 5px

.sortBtn
  margin-right: 10px

.sortBtn,
.filterBtn
  padding: 5px 10px

.sortBtn:hover,
.filterBtn:hover
  background-color: var(--chat-background-secondary)

.channelsWrp
  overflow-y: auto
  display: flex
  flex-direction: column
  flex: 1 1

.channelsWrp::-webkit-scrollbar
  width: 8px

.channelsWrp::-webkit-scrollbar-thumb
  background: var(--scrollbar)
  border-radius: 5px

.channelsWrp a:hover
  text-decoration: none

.center
  text-align: center

.createBtn
  font-weight: 600
  font-size: 15px
  background-color: var(--browser-channel-secondary-button)
  border: 1px solid var(--browser-channel-border)
  color: var(--main-text)

.channelsWrp .createBtn
  margin-top: 40px
  margin-bottom: 40px

.createBtn:hover,
.createBtn:focus,
.ChannelBrowser .center .createBtn:active,
.ChannelBrowser .header .createBtn:active
  background-color: var(--browser-channel-secondary-button-hover)
  border: 1px solid var(--browser-channel-border)
  color: var(--main-text)
