.ChannelBrowser
  background-color: var(--chat-background-primary)
  height: calc(100vh - 62px)

.header
  display: flex
  justify-content: space-between
  align-items: center
  padding: 13px 20px
  height: 63px
  border-bottom: 1px solid var(--browser-channel-border)

.header h1
  color: var(--title-text)
  font-weight: 600

.main
  padding: 15px 20px
  display: flex
  flex-direction: column
  flex: 1 1
  height: calc(100vh - 104px)
  color: var(--main-text)

.search
  margin-bottom: 25px
  margin-top: 5px

.controlsWrp
  display: flex
  justify-content: space-between
  align-items: center
  padding-bottom: 10px
  border-bottom: 1px solid var(--browser-channel-border)
  font-size: 15px
  font-weight: 500

.channelsWrp
  overflow-y: auto
  display: flex
  flex-direction: column
  flex: 1 1

.channelsWrp::-webkit-scrollbar
  width: 8px

.channelsWrp::-webkit-scrollbar-thumb
  background: var(--scrollbar)
  border-radius: 5px

.channelsWrp a:hover
  text-decoration: none

.center
  text-align: center

.createBtn
  font-weight: 600
  font-size: 15px
  background-color: var(--browser-channel-secondary-button)
  border: 1px solid var(--browser-channel-border)
  color: var(--main-text)

.channelsWrp .createBtn
  margin-top: 40px
  margin-bottom: 40px

.createBtn:hover,
.createBtn:focus,
.createBtn:active
  background-color: var(--browser-channel-secondary-button-hover) !important
  border: 1px solid var(--browser-channel-border) !important
  color: var(--main-text) !important

.createBtn:active,
.createBtn:focus
  box-shadow: 0 0 0 0.1rem var(--browser-channel-primary-button) !important
