$colorText: var(--title-text) // цвет текста
$coloractive: #CECCC0 // цвет активной строки

.panepPopUp
  margin-top: 20px
  padding-top: 20px
  padding-bottom: 20px

.panelSelect
  font-size: 18px
  display: flex
  flex-direction: row
  align-items: center
  border: 0
  padding: 4px 23px
  margin-top: 5px
  align-content: left
  outline: none
  width: 100%
  color: $colorText
  cursor: pointer
  &:hover
    text-decoration: none
    color: $colorText
  &:visited
    color: $colorText

.panelSelect:hover
  background: $coloractive
