$colorText: var(--title-text) // цвет текста
$coloractive: #CECCC0 // цвет активной строки

.panelPopUp
  margin-top: 20px
  padding: 10px 0
  z-index: 101

.panelSelect
  background: none
  font-size: 16px
  display: flex
  flex-direction: row
  align-items: center
  border: 0
  padding: 4px 23px
  margin: 5px auto
  align-content: left
  outline: none
  width: 100%
  color: $colorText
  cursor: pointer
  &:hover
    background-color: var(--workspace-toolbar-select-background)
  &:visited
    color: $colorText
