.modalBody
  display: flex
  flex-direction: row

.radioFormGroup
  display: flex
  flex-direction: column
  margin-bottom: 0

.mainWrapper
  display: flex
  flex-direction: column
  margin: 23px 16px 16px
  padding-top: 0

.modalNav
  padding-right: 8px
  border-right: 1px solid var(--secondary-text)
  margin-right: 10px

.modalNavTitle
  padding: 3px
  border-radius: 4px
  padding: 4px 9px
  padding-right: 30px
  font-size: 16px
  color: white
  background-color: var(--icon-active)

.subHeader
  font-size: 16px
  margin-bottom: 10px
  font-weight: 600
  margin-bottom: 7px

.blockContainer
  margin-bottom: 7px

.recordingErr
  color: var(--presence-offline)
  position: absolute
  left: 0
  bottom: 2px
  font-weight: 500

.audioNotificationsWrapper
  display: flex
  padding-bottom: 26px
  position: relative

.formFooter
  margin-top: 30px
  display: flex
  justify-content: space-around
  align-items: center

.radioFormGroup

  .checkItemContainer
    display: flex
    align-items: center
    height: 22px
