.body
  background-color: var(--chat-background-primary)
  height: 100%
  padding: 30px

  .wrapper
    display: flex
    flex-direction: column
    height: 100%
    overflow-y: auto

    .card
      margin: 10px 0
      background-color: var(--chat-background-secondary)
      border-radius: 20px
      padding: 30px
