.header
  margin-bottom: 10px

.inputHeader
  font-size: 12px
  padding-left: 2px

.usernameInputBlock
  display: flex
  align-items: center
  margin: 4px 0 16px 0

  .usernameInput
    height: 36px

.footer
  display: flex
  justify-content: flex-end

.addButton
  font-size: 14px
  font-weight: 500
  height: 38px
  margin-left: 3px
  border: none
  background-color: var(--invite-to-workspace-button)

  &:hover
    background-color: var(--invite-to-workspace-button-hover)

.selectForm
  margin-bottom: 30px
  height: 36px
