.closeBtn
  position: absolute
  z-index: 1000
  top: 25px
  right: 25px

.threadContainer
  background-color: var(--chat-background-secondary)
  position: relative
  margin-left: auto
  height: 100%
  min-width: 300px
  display: flex
  flex-direction: column
  justify-content: flex-start

  p
    margin: 0

  header
    height: 64px
    padding: 10px
    border-bottom: 1px solid var(--border);

.threadChatName
  font-size: 1.5em
  font-weight: bold
  margin-bottom: 5px

.threadPost
  padding: 10px
  border-bottom: 1px solid var(--border);

.threadComments
  display: flex
  flex-direction: column
  justify-items: center
  background-color: var(--chat-background-secondary)
  padding: 0 10px
  padding-bottom: 5px
  overflow-y: auto

.comment
  margin-bottom: 3px

.commentsWrapper
  display: flex
  flex-direction: row
  width: 100%
  margin-top: 5px
  padding: 5px
  background-color: #DEDCD0
  border-radius: 10px

.commentImage
  width: 48px
  height: 48px
  border-radius: 24px
  overflow: hidden;
  margin-top: 5px

.commentData
  width: calc(100% - 48px)
  margin-left: 5px
  padding-top: 5px

.commentAuthor
  display: inline-block
  font-size: 0.9rem
  color: rgb(29, 28, 29)
  font-weight: 900
  margin: 5px 0

.commentData
  font-weight: 400
  color: rgb(29, 28, 29)
  font-size: .75rem
  font-family: var(--secondary-font-family), sans-serif

.commentText
  font-size: 0.95rem

.textEditor
  bottom: 0
  width: 100%
