.filterBtn
  padding: 5px 10px

.filterBtn:hover
  background-color: var(--chat-background-secondary)

.filterBtn svg
  margin-right: 5px

.popup
  padding: 20px 20px 15px
  position: relative

.closeBtn
  position: absolute
  top: 10px
  right: 10px
  cursor: pointer

.closeBtn:hover
  color: var(--secondary-text)

.label
  color: var(--secondary-text)

.select
  margin-bottom: 10px

.checkbox
  font-weight: 500

.checkbox input
  cursor: pointer
  -webkit-appearance: checkbox

.checkbox input:focus,
.checkbox input:active
  outline: none
