.notFoundPage
  background: var(--not-found-background)
  min-height: 100vh

.textColor
  color: var(--not-found-text)

.title
  padding-top: 3rem

.homeRef
  color: var(--not-found-text)
  text-decoration: underline
  font-style: italic

