.playButton
  background: var(--chat-background-secondary)
  border: 2px solid var(--icon-active)
  border-radius: 6px
  width: 42px
  height: 34px
  svg
    margin: 1px 0 0 3px
    color: black
    color: var(--icon-active)
    transition: all .1s
  &:hover
    svg
      color: var(--option-bg-hover)
