.header
  padding: 0 1rem


.formDescription
  font-size: 14px
  margin-bottom: 16px
  line-height: 1.25

.inputLabel
  font-size: 18px
  font-weight: 600
  margin: 0 0 6px 2px

  span
    font-weight: 400

.description
  margin-left: 2px

.makePrivateLabel
  display: flex
  justify-content: space-between
  align-items: center
  font-size: 14px
  line-height: 1.25
  margin-left: 2px

.makePrivateDescription
  width: 75%

  h5
    font-weight: 600

$switchWidth: 2.75rem

.makePrivateSwitch
  width: calc(#{$switchWidth} + 0.25rem)

.makePrivateSwitch :global(.custom-control-label)
  &::before
    height: 1.5rem
    width: $switchWidth
    border-radius: .75rem

  &::after
    width: calc(1.5rem - 4px)
    height: calc(1.5rem - 4px)
    border-radius: .75rem

.makePrivateSwitch :global(.custom-control-input:checked~.custom-control-label)
  &::before
    background-color: var(--make-private-channel-switch)
    border-color: var(--make-private-channel-switch)

  &::after
    transform: translateX(1.25rem)

.makePrivate
  margin-left: 0

.channelDescription
  font-size: 14px

.createButton
  font-size: 14px
  font-weight: 500
  border: none
  background-color: var(--invite-to-workspace-button)

  &:hover
    background-color: var(--invite-to-workspace-button-hover)
