.header
  padding: 0rem 1rem
  margin-bottom: 1.3rem
  font-weight: 800
  font-size: 18px

.formBody
  padding: 0 1rem

.footer
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: flex-end
  padding: .75rem

.inputLabel
  font-weight: 600

  span
    font-weight: 400

.btnCreate
  margin: 0 4px 0 7px
