.chatContainer
  background-color: var(--chat-background-primary)
  display: flex
  flex-direction: column
  justify-content: flex-start
  height: 100%

.chatContainerMessage
  display: flex
  justify-content: center
  align-content: center
  align-items: center
  height: 100%
  background-color: var(--chat-background-primary)

